[dataset]
# Global Settings
seed = 12
output_dir = "output/dataset"
frame_step = 5            # Keep 1 frame every 5 (approx 6 FPS)

# Export Formats: "coco" (MOTIP), "mot" (TrackEval)
export_formats = ["coco", "mot"]

# Splits (Must sum to 1.0)
train_ratio = 0.70
val_ratio   = 0.15
test_ratio  = 0.15

# --- SOURCE: BDD100K (Remote Stream) ---
[bdd]
enabled = true
num_videos = 10

# Point to local zips we downloaded
labels_url = "data/box_track_labels_trainval.zip"
images_url = [
    "data/images20-track-train-1.zip",
    "data/images20-track-train-2.zip",
    "data/images20-track-train-3.zip",
    "data/images20-track-train-4.zip",
    "data/images20-track-train-5.zip",
    "data/images20-track-train-6.zip",
    "data/images20-track-train-7.zip",
    "data/images20-track-val-1.zip"
]

# # Remote access without download (via RemoteZip opener)
# labels_url = "https://dl.cv.ethz.ch/bdd100k/data/box_track_labels_trainval.zip"
# images_url = [ "https://dl.cv.ethz.ch/bdd100k/data/track_images_train.zip" ]

# --- SOURCE: VisDrone (Local Zip) ---
[visdrone]
enabled = true  # Set to true after downloading VisDrone zips
num_videos = 10
images_zip = "data/VisDrone2019-MOT-train.zip"
labels_zip = "data/VisDrone2019-MOT-train.zip"
